
*{
    margin: 0;
    padding: 0;
}
.left{
    float: left;
}
.right{
    float: right;  
}
.clear{
    clear: both;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    max-width: 1300px;
    border: 1px solid #000000;
    margin: auto;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 80px;
    text-align: center;
}
.products{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
figcaption{
    font-size: 30px;
    text-align: center;
    text-wrap: wrap;
    max-width: 350px;
}

nav{
    position: sticky;
    top: 0;
    background-color: #96dae1;
    z-index: 1000;
    text-align: center;
    box-shadow: 0px 3px 8px -1px #000000;
}
nav a{
    color: white;
    padding: 15px 20px;
    display: inline-block;
    & hr{
        border-color: #96dae1;
    }
}
a{
    text-decoration: none;
    color: #3b6b27; 
}
a:hover{
    color:#96dae1;
    background-color:rgb(203, 249, 255); 
}
.logo{
    height: 200px;
}
header{
    align-items: center;
    border-bottom: 1px solid #000000;
}
footer{
    background-color:#96dae1;
    padding: 15px;
    border: 1px solid black;
}
p{
    line-height: 1.5;
    font-size: 20px;
}
h2{
    font-size: 40px;
    margin: 15px 0px;
}
main{
    padding: 0 20px 20px 20px;
}

.showcase{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 6px;
}
h3{
    font-size: 30px;
    padding: 10px 0;
}
h4{
    font-size: 24px;
    padding: 8px 0;
}
.image{
    height: 350px;
    width: 350px;
    border: #96dae1 3px solid;
    object-fit: cover;
    object-position: center;
}
summary{
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
}
details p{
    font-size: 18px;
}

/* blue #96dae1 green #b3ddba pink #fdaab6 white #fef9f4 */